.mid-section1 {

  text-align: center;
  margin-top: 10%;
  color: #061237;
}

.image-section {
  margin-top: 4%;
  margin-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.acc-rate {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.details {
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  color: #061237;
  padding: 5px;
}

.subtitle {
  color: #67718E;
}

.head {
  color: #061237;
}

.vid-title {
  color: #67718E;
  margin-left: 16%;
  margin-bottom: 4%;
}

.vid-image {
  width: 1000px;
  height: 550px;
}

.para {
  color: #37456C;
  width: 450px;
  line-height: 36px;
  size: 18px;
  letter-spacing: -0.18px;
}

.vid-header {
  color: #061237;
  margin-left: 13%;
  margin-bottom: 4%;

}

.body {
  size: 16px;
  width: 498px;
  padding-top: 6%;
  padding-bottom: 6%;
  line-height: 32px;
  letter-spacing: -0.16px;
  color: #37456C;
}

.right {
  width: 490px;
  height: 600px;
  overflow: hidden;
}

.section2 {

  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left {

  background-image: url('images/ln.png');
  width: 50%;
  height: 600px;
}

.btn1 {
  min-width: 11em;
  max-width: 8em;
  height: 3.1em;
  background-color: #1355FF;
  border: none;
  color: white;
  margin-right: 30px;
  padding: 2%;
}

.learnmore {
  padding: 10px;
  background-color: #F7F9FC;
  border: none;
}

.title_section {
  size: 48px;
  line-height: 40px;
  letter-spacing: -0.16px;
  padding-top: 94px;
  color: #061237;
}

.title_section2 {
  size: 48px;
  letter-spacing: -1.44px;
  color: #061237;
}

.blue-section {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  background-color: #061237;
  padding: 10%;
}

.top-part {
  padding-top: 4%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4%;
}

.para1 {
  font-weight: 400;
  size: 16px;
  line-height: 32px;
  color: #B6BCCE;
}

.para2 {
  font-weight: 400;
  width: 330.89px;
  size: 16px;
  line-height: 32px;
  color: #061237;
}

.top-part h1 {
  color: white;
  margin: 20px;
  size: 48px;
  text-align: left;
  letter-spacing: -1.44px;
  line-height: 56px;
  margin-left: 12px;
  font-weight: 900;
  text-align: center;

}

.top-part2 {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4%;
}

.btn3 {
  padding: 10px;
  border: none;
  background-color: #F7F9FC;
}

.top-part2 h1 {
  color: #061237;
  size: 48px;
  text-align: left;
  line-height: 56px;
  margin-left: 12px;
  font-weight: 900;


}


.para3 {
  width: 286.15px;
  color: #37456C;
  size: 16px;
  margin-left: 6.5%;
  line-height: 32px;
  letter-spacing: -0.16px;
}

.bottom {
  margin-bottom: 12%;
}

.btn2 {
  padding: 10px;
  background-color: #1355FF;
  border: none;
  color: white;
  font-weight: 400;
}

.btn4 {
  width: 125.05px;
  margin-top: 2.8px;
  height: 48px;
  background-color: #1355FF;
  border: none;
  color: white;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
  margin-top: 12%;
}

.sub-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

.img1 {
  width: 304px;
  height: 320px;
}

.Footer {
  margin-top: 7%;
  margin-bottom: 12%;
}

.form {
  width: 400px;
  height: 56px;
  border: 1px #F2F3F8 solid;
  border-radius: 5px;

}

.input-field {
  height: 31px;
  width: 264.95px;
  border: none;
  border-style: none;
  outline: none;
  padding: 4.0px;

}

.foot_items {
  margin-top: 4%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.second {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .vid-section {
    margin-top: 19% !important;
  }

  .vid-title {
    margin-left: 0%;
  }

  .vid-header {
    margin-left: 0%;
  }

  .vid-image {
    width: 351px;
    height: 300px;
    object-fit: cover;
  }

  .hero-images1 {
    width: 389px;
    height: 500px;
    object-fit: contain;

  }

  .para2 {
    width: 207.26px;
  }

  .hero-images2 {
    width: 351px;
    height: 394px;
    object-fit: contain;

  }

  .hero-images3 {
    width: 366.63px;
    height: 336px;
    object-fit: contain;
  }

  .foot_items,
  .foot_head {
    text-align: left;
  }

  .grid {
    margin-bottom: 30px !important;
  }

  .lorem {
    text-align: left;
  }



  .rights {
    margin-left: auto !important;
    margin-right: auto;
  }

  .input-field {
    height: 31px;
    width: 172.72px;
    border: none;
    border-style: none;
    outline: none;
    padding: 4.0px;

  }

  .btn4 {
    width: 125.05px;
    margin-top: 2.8px;
    margin-right: 50px;
    height: 48px;
    background-color: #1355FF;
    border: none;
    color: white;
    font-weight: 400;
  }

  .section2 {
    width: 100%;

    height: 514px;
    overflow: hidden;
    justify-content: start;
  }

  .body {
    size: 16px;
    width: 100% !important;
    font-weight: 400;
    margin-bottom: 5%;
    color: #37456C;
  }

  .left {

    background-image: url('images/ln.png');
    width: 100%;
    height: 600px;
  }

  .header {
    margin-top: 50px;
  }

  .acc-rate {
    margin-bottom: 150px;
    margin-top: 100px;
  }

  .details {
    margin: 17px;
  }

}