.banner img {
  width: 100%;
  object-fit: contain;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 17%;
  width: 30%;
}

.acc {
  width: 100%;
}

.btn1 {
  min-width: 11em;
  max-width: 8em;
  height: 3.4em;
  background-color: #1355ff;
  border: none;
  color: white;
  margin-right: 30px;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: white;
}

.mobile-banner {
  display: none;
}

@media only screen and (max-width: 600px) {
  .banner {
    display: none;
  }

  .banner-head {
    width: 100%;
    height: 1081.28px;
  }

  .mobile-banner {
    display: block;
    width: 100%;
    height: 1081.28px;
    color: white;
    background-image: url("images/mobile_banner.png");
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    width: 100%;
    padding-top: 60px;
  }

  .btn1 {
    width: 155.08;
    height: 52px;
    size: 14px;
    margin-right: 0%;
    margin-bottom: 9px;
  }

  .link {
  }
}
